.font-esport-event-16 {
  font-family: "Montserrat";
    font-size: 16px;
  }

  .font-esport-event-12 {
    font-family: "Montserrat";
    font-size: 12px;
    
  }



  .Esport-events .slick-initialized .slick-list {margin: 0 -20px;}
  .Esport-events .slick-initialized .slick-slide>div {padding: 0 20px;}
 