.cu_font_family {
  font-family: "Montserrat";
  font-style: normal;
}

.roboto_slab {
  font-family: "Roboto Slab";
  font-style: normal;
}
.single-item {
  .image-wrapper {
    width: 100%;
    max-width: 200px;
  }
}
