.cu_font_family {
  font-family: "Montserrat";
  font-style: normal;
}

.roboto_slab {
  font-family: "Roboto Slab";
  font-style: normal;
}
.single-item {
  padding-bottom: 20px;
  .image-wrapper {
    width: 100%;
    max-width: 200px;
  }
  .desc-wrapper {
    padding: 0 15px 0 20px;
    .line {
      padding-left: 10px;
      margin-left: 10px;
    }
  }
}
.single-item:last-child {
  padding-bottom: 0;
}
.left-side {
  position: relative;
  .overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.72) 8.73%,
      rgba(0, 0, 0, 0) 62.42%,
      rgba(0, 0, 0, 0.4) 108.83%,
      rgba(0, 0, 0, 0.32) 108.84%
    );
    position: absolute;
    inset: 0;
  }
  .title {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (max-width: 1400px) {
  .single-item {
    padding-bottom: 10px;
    .image-wrapper {
      width: 100%;
      max-width: 150px;
    }
    .desc-wrapper {
      padding: 0 5px 0 15px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .left-side {
    .title {
      font-size: 20px;
      line-height: normal;
    }
    img {
      min-height: 400px;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 1024px) {
  .left-side {
    img {
      min-height: 300px;
      height: 400px;
      object-fit: cover;
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .single-item {
    border-left: 2px solid;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
    .image-wrapper {
      height: 100px;
      width: 100%;
    }
  }
  .left-side {
    img {
      min-height: 100%;
      height: 100%;
    }
    .title {
      bottom: 20px;
      left: 15px;
      right: 15px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
