.font-text-live-page {
  font-family: "Montserrat";
}

.font-live-match-18 {
  font-size: 18px;
}

.font-live-match-22 {
  font-size: 22px;
}

.font-live-match-16 {
  font-size: 16px;
}

.font-live-match-14 {
  font-size: 14px;
}
// .live-matches .slick-initialized .slick-slide {
//   display: block;
//   padding: 0 20px;
// }
 .live-matches .slick-initialized .slick-list {margin: 0 -20px;}
 .live-matches .slick-initialized .slick-slide>div {padding: 0 20px;}

@media (max-width: 1296px) {
  .font-live-match-14 {
    font-size: 10px;
  }
  .font-live-match-22 {
    font-size: 18px;
  }
  .font-live-match-16 {
    font-size: 12px;
  }
  .font-live-match-18 {
    font-size: 14px;
  }
}

@media (max-width: 875px) {
  .font-live-match-14 {
    font-size: 10px;
  }
  .font-live-match-22 {
    font-size: 18px;
  }
  .font-live-match-16 {
    font-size: 12px;
  }
  .font-live-match-18 {
    font-size: 14px;
  }
}

@media (max-width: 341px) {
  .font-live-match-14 {
    font-size: 8px;
  }
}
