.trending {
  padding: 25px 0 35px 0;

  .trend--left {
    width: 12%;
  }
  .trend--right {
    width: 88%;
  }

  // .slick-next,
  // .slick-prev {
  //   top: 14px;
  // }
  // .slick-next {
  //   right: 0;
  // }
  // .slick-prev {
  //   left: -45px;
  // }
}
.font-styls {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-left: 12px;
}
.trendingteass .tags {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(34, 30, 31, 0.7);
  padding: 8px 12px;
  // background: rgba(34, 30, 31, 0.1);
  border-radius: 16px;
  text-align: center;
  width: auto !important;
}
// .tags:hover {
//   background-color: rgb(198 197 197);
// }
.trendingteass .slick-slide {
  width: auto !important;
  margin-right: 12px;
}

// .trendingteass button {
//   background-color: $brandLightOpacity100;
//   width: 40px;
//   height: 40px;
//   border-radius: 25px;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//   z-index: 1;
// }
// .trendingteass button:hover {
//   background-color: $brandLightOpacity100;
// }
.trendingteass button.slick-disabled,
.trendingteass button.slick-disabled {
  display: none !important;
}

.trendingteass .slick-prev:before,
.trendingteass .slick-next:before {
  content: "\f104";
  font-size: 20px;
  color: $brandDark2;
  font-family: fontawesome;
}

.trendingteass .slick-next:before {
  content: "\f105";
}

@media screen and (max-width: 1430px) {
  .trending {
    // .trend--left {
    //   width: 15%;
    // }
    // .trend--right {
    //   width: 85%;
    // }
    .slick-next {
      right: 0;
    }
  }
}
@media screen and (max-width: 1024px) {
  .trending {
    .trend--left {
      width: 15%;
    }
    .trend--right {
      width: 85%;
    }
  }
}

@media screen and (max-width: 768px) {
  .trending {
    padding: 16px 0 30px 0;
    border-bottom: 1px solid $brandLightOpacity10;
    .trend--left {
      width: 15%;
      h4 {
        display: none;
      }
    }
    .trend--right {
      width: 85%;
    }
  }
}

@media screen and (max-width: 400px) {
  .trending {
    padding: 10px 0 24px 0;
  }
  .trendingteass .tags {
    font-size: 12px;
    line-height: 15px;
  }
}
