.trending_wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.trending_wrapper .gaming_tabs_width section {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.for_your_section .forYou .section-saprator {
  display: none !important;
}
