// BRAND LIGHT COLOR'S
$whitecolor: white;
$brandLightOpacity100: #e5e5e5;
$brandLightOpacity90: rgba(229, 229, 229, 0.9);
$brandLightOpacity70: rgba(229, 229, 229, 0.7);
$brandLightOpacity50: rgba(229, 229, 229, 0.5);
$brandLightOpacity10: rgba(229, 229, 229, 0.1);
$brandLightOpacity5: rgba(229, 229, 229, 0.05);
$bodycolor: #f8f8f8;
// BRAND DARK COLORS
$brandDark1: #2e2a2b;
$brandDark2: #221e1f;
$brandDark3: #141313;
$grayCardHover: rgba(34, 30, 31, 30%);

// BRAND COLOR
$brand: #ed4e50;

// SEMANTIC COLORS
$successIndicator: #008d52;
$errorIndicator: #d91618;
