@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./overwrite.css";

/* // BRAND LIGHT COLOR'S */
:root {
  --whitecolor: white;
  --brandLightOpacity100: #e5e5e5;
  --brandLightOpacity90: rgba(229, 229, 229, 0.9);
  --brandLightOpacity70: rgba(229, 229, 229, 0.7);
  --brandLightOpacity50: rgba(229, 229, 229, 0.5);
  --brandLightOpacity10: rgba(229, 229, 229, 0.1);
  --brandLightOpacity5: rgba(229, 229, 229, 0.05);
  --bodycolor: #f8f8f8;
  /* // BRAND DARK COLORS */
  --brandDark1: #2e2a2b;
  --brandDark2: #221e1f;
  --brandDark3: #141313;
  --grayCardHover: rgba(34, 30, 31, 30%);
  --grayCard: rgba(34, 30, 31, 0.1);

  /* // BRAND COLOR */
  --brand: #ed4e50;

  /* // SEMANTIC COLORS */
  --successIndicator: #008d52;
  --errorIndicator: #d91618;
}

/* // GLOBAL SECTION WIDTH */

.global-section-width {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 80px;
}

.user-section-width {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 190px;
}

/* GLOBAL -ARRO SETTING */
/* .dark-arrow.slick-slider button {
  background-color: var(--brandDark1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.dark-arrow.slick-slider button:hover {
  background-color: var(--brandLightOpacity10);
}
.light-arrow.slick-slider button {
  background-color: var(--brandLightOpacity100);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.light-arrow.slick-slider button:hover {
  background-color: var(--grayCard);
}
.slick-slider button {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  z-index: 1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.dark-arrow.slick-slider .slick-next:before,
.dark-arrow.slick-slider .slick-prev:before {
  content: "";
  background-image: url("../assets/trending-arrows/light-arrow.png");
}

.light-arrow.slick-slider .slick-next:before,
.light-arrow.slick-slider .slick-prev:before {
  content: "";
  background-image: url("../assets/trending-arrows/dark-arrow.png");
}
.light-arrow.slick-slider .slick-prev:before,
.dark-arrow.slick-slider .slick-prev:before {
  transform: rotate(180deg);
  width: 10px;
  height: 17px;
}
.light-arrow.slick-slider .slick-next:before,
.dark-arrow.slick-slider .slick-next:before {
  width: 10px;
  height: 17px;
}

.light-arrow.slick-slider .slick-next,
.dark-arrow.slick-slider .slick-next {
  padding-left: 4px;
}

.dark-arrow.slick-slider .slick-next:before,
.dark-arrow.slick-slider .slick-prev:before,
.light-arrow.slick-slider .slick-next:before,
.light-arrow.slick-slider .slick-prev:before {
  background-repeat: no-repeat;
} */

/* GLOBAL ARROW SETTING CLOSE */

/* ARROW'S STYLE START */

.dark-arrow.slick-slider button.slick-next,
.light-arrow.slick-slider button.slick-next {
  width: 124px;
  height: 40px;
  top: 50%;
}
.dark-arrow.slick-slider button.slick-prev,
.light-arrow.slick-slider button.slick-prev {
  width: 124px;
  height: 40px;
  top: 44%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 1;
}

.live-matches .dark-arrow.slick-slider button.slick-prev,
.live-matches .light-arrow.slick-slider button.slick-prev {
  top: 38%;
}

.trending .dark-arrow.slick-slider button.slick-prev,
.trending .light-arrow.slick-slider button.slick-prev {
  top: -4px;
}

/* .exports-banner .dark-arrow.slick-slider button.slick-next,
.exports-banner .dark-arrow.slick-slider button.slick-prev, */
.trending .dark-arrow.slick-slider button.slick-next,
.trending .dark-arrow.slick-slider button.slick-prev {
  background: linear-gradient(
    270deg,
    var(--brandDark2) 15.85%,
    var(--brandDark2) 56.62%,
    rgba(34, 30, 31, 0) 83.6%
  );
}
/* .exports-banner .light-arrow.slick-slider button.slick-next,
.exports-banner .light-arrow.slick-slider button.slick-prev, */
.trending .light-arrow.slick-slider button.slick-next,
.trending .light-arrow.slick-slider button.slick-prev {
  background: linear-gradient(
    270deg,
    var(--bodycolor) 15.85%,
    var(--bodycolor) 56.62%,
    rgba(34, 30, 31, 0) 83.6%
  );
}
.dark-arrow.slick-slider .slick-next:before,
.dark-arrow.slick-slider .slick-prev:before,
.light-arrow.slick-slider .slick-next:before,
.light-arrow.slick-slider .slick-prev:before {
  content: "";
  width: 40px;
  height: 40px;
  right: 7px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark-arrow.slick-slider .slick-next:before,
.dark-arrow.slick-slider .slick-prev:before {
  background-color: var(--brandDark1);
}
.light-arrow.slick-slider .slick-next:before,
.light-arrow.slick-slider .slick-prev:before {
  background-color: var(--brandLightOpacity100);
}
.dark-arrow.slick-slider .slick-next:hover::before,
.dark-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--brandLightOpacity10);
}
.light-arrow.slick-slider .slick-next:hover::before,
.light-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--grayCard);
}

.exports-banner .dark-arrow.slick-slider .slick-next:hover::before,
.exports-banner .dark-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--brandLightOpacity10);
}
.exports-banner .light-arrow.slick-slider .slick-next:hover::before,
.exports-banner .light-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--brandLightOpacity90);
}

.dark-arrow.slick-slider .slick-next::after,
.light-arrow.slick-slider .slick-next::after,
.dark-arrow.slick-slider .slick-prev::after,
.light-arrow.slick-slider .slick-prev::after {
  width: 10px;
  display: block;
  height: 19px;
  position: absolute;
  right: 20px;
  z-index: 12;
  background-repeat: no-repeat;
  top: 12px;
}
.dark-arrow.slick-slider .slick-next::after,
.dark-arrow.slick-slider .slick-prev::after {
  content: "";
  background-image: url("../assets/trending-arrows/light-arrow.png");
}

.light-arrow.slick-slider .slick-next::after,
.light-arrow.slick-slider .slick-prev::after {
  content: "";
  background-image: url("../assets/trending-arrows/dark-arrow.png");
}

/* .deailslider .dark-arrow.slick-slider button.slick-next,
.deailslider .light-arrow.slick-slider button.slick-next {
  top: 50% !important;
  background: none;
}
.deailslider .dark-arrow.slick-slider button.slick-prev,
.deailslider .light-arrow.slick-slider button.slick-prev {
  top: 45% !important;
  background: none;
} */
/* ARROW'S STYLE CLOSE */
.font-sec-saprate-18 {
  font-family: "Montserrat";
  font-size: 18px;
}

.f_it {
  font-style: italic;
}
.montserratfont {
  font-family: "Montserrat", sans-serif;
}
.robotoslub {
  font-family: "Roboto Slab", serif;
}

/*  GLOBALE SLICK SLIDER NEXT AND PREVIW BUTTON */

/* TRENDING COMPONENT  */
.trendingteass .slick-slide {
  width: auto !important;
  margin-right: 12px;
}

.light-arrow.slick-slider button.slick-disabled,
.dark-arrow.slick-slider button.slick-disabled {
  display: none !important;
}

.trendingteass .slick-next,
.trendingteass .slick-prev {
  top: 14px;
}
.slick-prev {
  left: -60px !important;
}
.slick-next {
  right: -65px !important;
}
.exports-banner .slick-prev {
  left: 24px !important;
}
.exports-banner .slick-next {
  right: 24px !important;
}
.exports-banner .slick-prev:before,
.exports-banner .slick-next:before {
  opacity: 1;
}
/*
.exports-banner .slick-prev:hover::before,
.exports-banner .slick-next:hover::before {
  opacity: 1;
} */
.trendingteass .slick-prev {
  left: -45px !important;
}
/* SCROLL */
.choiceselect .slectopitons::-webkit-scrollbar {
  width: 10px !important;
}

.choiceselect .slectopitons::-webkit-scrollbar-track {
  border-radius: 4px;
}

.choiceselect .slectopitons::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

@media screen and (max-width: 1430px) {
  .global-section-width {
    padding: 0 70px;
  }
  .trending .slick-next {
    right: 0 !important;
  }
  .hero-section-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
  }
  .news-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width : 1280px){
  .news-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 1100px) {
  .tech-feature-dec,
  .tech-feature-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .global-section-width {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1024px) {
  .global-section-width {
    padding: 0 16px;
  }

  .hero-section-tech-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 639px) {
  .hero-section-tech-title {
    -webkit-line-clamp: 2;
  }
  .tech-feature-dec {
    -webkit-line-clamp: 3;
  }
}
