@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./overwrite.css";

/* // BRAND LIGHT COLOR'S */
:root {
  --whitecolor: white;
  --brandLightOpacity100: #e5e5e5;
  --brandLightOpacity90: rgba(229, 229, 229, 0.9);
  --brandLightOpacity70: rgba(229, 229, 229, 0.7);
  --brandLightOpacity50: rgba(229, 229, 229, 0.5);
  --brandLightOpacity10: rgba(229, 229, 229, 0.1);
  --brandLightOpacity5: rgba(229, 229, 229, 0.05);
  --bodycolor: #f8f8f8;
  /* // BRAND DARK COLORS */
  --brandDark1: #2e2a2b;
  --brandDark2: #221e1f;
  --brandDark3: #141313;
  --grayCardHover: rgba(34, 30, 31, 30%);

  /* // BRAND COLOR */
  --brand: #ed4e50;

  /* // SEMANTIC COLORS */
  --successIndicator: #008d52;
  --errorIndicator: #d91618;
}

/* // GLOBAL SECTION WIDTH */
.global-section-width {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 80px;
}
.slick-slider button {
  background-color: #e5e5e5 !important;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
  content: "\f104";
  font-size: 20px;
  color: #221e1f;
  font-family: fontawesome;
}

.slick-slider .slick-next:before {
  content: "\f105";
}

.slick-slider button:hover {
  background-color: #e5e5e5;
}

.font-sec-saprate-18 {
  font-family: "Montserrat";
  font-size: 18px;
}

.montserratfont {
  font-family: "Montserrat";
}
.robotoslub {
  font-family: "Roboto Slab";
}

/*  GLOBALE SLICK SLIDER NEXT AND PREVIW BUTTON */
.trendingteass .slick-next {
  right: 0 !important;
}

.trendingteass .slick-prev {
  left: 0 !important;
}

/* TRENDING COMPONENT  */
.trendingteass .slick-slide {
  width: auto !important;
  margin-right: 12px;
}

.trendingteass button.slick-disabled,
.trendingteass button.slick-disabled {
  display: none !important;
}

.slick-prev:before,
.slick-next:before {
  content: "\f104";
  font-size: 20px;
  font-family: fontawesome;
  color: var(--brandDark2);
}

.slick-next:before {
  content: "\f105";
}

.trendingteass .slick-next,
.trendingteass .slick-prev {
  top: 14px;
}
.trendingteass .slick-prev {
  left: -45px;
}

/* SCROLL */
.choiceselect .slectopitons::-webkit-scrollbar {
  width: 10px !important;
}

.choiceselect .slectopitons::-webkit-scrollbar-track {
  border-radius: 4px;
}

.choiceselect .slectopitons::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

@media screen and (max-width: 1430px) {
  .global-section-width {
    padding: 0 70px;
  }
  .trending .slick-next {
    right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .global-section-width {
    padding: 0 16px;
  }
}
