/* /// Overwrite slick slider of esport section section/// */

.Esport-events .slick-initialized .slick-list {margin: 0 -16px;}
.Esport-events .slick-initialized .slick-slide>div {padding: 0 16px;}


/* /// Overwrite slick slider of live match section/// */
.live-matches .slick-initialized .slick-list {margin: 0 -20px;}
.live-matches .slick-initialized .slick-slide>div {padding: 0 20px;}
