.drop-box-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.quiz-timer {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo-quiz-brand .quiz-title,
.logo-quiz-brand:hover .circle-logo {
  display: none;
}

.logo-quiz-brand:hover .quiz-title {
  display: flex;
}

.into-screen-btn {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.rotad-left {
  animation-duration: 2s;
  animation-name: rotad-left;
}

.fade_Out_Up_Big {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: logoAnimated;
  animation-direction: alternate;
  width: 68px;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(54px, -642px, 0) rotate(27deg);
  transform-origin: center;
}

.logoed {
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-name: logoHide;
  transform-origin: 0;
  animation-fill-mode: backwards;
  opacity: 1;
}

.flashanimted {
  animation-name: flashanimted;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.text-rotated-left {
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-name: text-rotated-left;
  transform-origin: 0;
  animation-fill-mode: backwards;
  opacity: 1;
}

.quiz-box-opened {
  opacity: 1;
  transition: 1s;
  visibility: visible;
}

.quiz-btn-opened {
  position: absolute;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: right;
  transition: 1s;
  right: 15px;
  opacity: 1;
}

.quiz-box-closed {
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}

.quiz-btn-closed {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  transform: rotate(0);
  transform-origin: right;
  transition: 1s;
  right: 0;
}

/*  ADD SCREEN */
.add-screen {
  background-image: url("../assets/quiz-model/add-screen.png");
}

.text-shadow {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.text-shadow:focus-visible {
  outline: none;
}

.add-screen-bg-filter {
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 15.65%,
      rgba(0, 0, 0, 0.69) 100%);
}

/*  WINNER SCREEN ANIMATION */
.congrulation-bg {
  background: linear-gradient(180deg, #141313 0%, rgba(237, 78, 80, 0.7) 100%);
}

.animted-congrul-bg {
  animation-direction: alternate;
  opacity: 1;
  animation: animted-congrul-bg 3s;
}

.congrulation-curved {
  animation-name: congrulation-curved;
  animation-duration: 2s;
  animation-delay: 1s;
}

.animatedd-layer {
  position: relative;
  opacity: 0;
}

.imge-text-value {
  animation: imge-text-value 2s;
  animation-delay: 1s;
}

.co-box {}

.main-box {
  animation-delay: 3s;
  animation-name: main-box;
  animation-duration: 0.5s;
  z-index: -1;

}

.bg-animtedd-true {
  opacity: 0;
}

.content-hide {

  opacity: 1;
  transition: 0.5s ease-in-out;
  filter: blur(0px);
}


.box-scroll::-webkit-scrollbar-thumb {
  border: 1px solid hsla(0, 0%, 90%, 0.2);
}

@keyframes imge-text-value {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 1;
    transform: translate(-1px, -147px) scale(0.6);
  }

  100% {
    opacity: 0;
    transform: translate(-1px, -147px) scale(0.6);
  }
}

@keyframes animatedd-layer {}

@keyframes main-box {

  0%,
  100% {
    opacity: 0;
    z-index: 1;
  }
}

@keyframes co-box {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes congrulation-curved {
  0% {
    /* transform: t; */
    opacity: 1;
    transform: translate(0, 0);
    z-index: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0, -85px);
  }
}

/*  ANIMATION */

@keyframes animted-congrul-bg {
  0% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }


}

@keyframes rotad-left {
  0% {
    opacity: 0;
    transform: rotate(90deg);
  }

  30% {
    opacity: 0;
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes logoAnimated {
  0% {
    width: 250px;
    opacity: 1;
    visibility: visible;

    transform: translate3d(94px, -100px, 0) rotate(45deg);
  }


  95% {
    opacity: 1;
    visibility: visible;


    width: 68px;
    transform: translate3d(54px, -642px, 0) rotate(27deg);
  }

  100% {
    opacity: 1;
    visibility: visible;

  }

}

@keyframes logoHide {
  0% {
    opacity: 0;
    transform-origin: 0%;

    transform: translate3d(-1000px, 0px, 0);
  }

  95% {
    opacity: 0;
    transform-origin: 0%;
  }

  99% {
    opacity: 0;
    transform-origin: 0%;
  }

  100% {
    transform-origin: 0%;
    opacity: 1;
  }
}

@keyframes flashanimted {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}

@keyframes text-rotated-left {
  0% {
    opacity: 0;
    transform: translate(160px, 16px) rotate(20deg);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
}