@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./constant.scss";
//  LAYOUTS STYLE'S
@import "./layouts/Header.scss";
@import "./layouts/Footer.scss";

//  COMPONENTS STYLE'S

// PAGE'S STYLE'S
@import "./pages/home.scss";

// GLOBAL SECTION WIDTH
.global-section-width {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
