.top-to-btm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 250px;
  z-index: 20;
}
.icon_style {
  background-color: #ed4e50;
  border-radius: 50%;
  padding: 16px 14px;
  padding-top: 10px;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 992px) {
  .icon-position {
    right: 120px;
  }
}
@media screen and (max-width: 768px) {
  .icon-position {
    right: 80px;
  }
}
@media screen and (max-width: 500px) {
  .icon-position {
    right: 30px;
    bottom: 20px;
  }
  .icon_style {
    width: 50px;
    height: 50px;
  }
}
