.top-countdown {
  background: linear-gradient(
    360deg,
    rgba(237, 78, 80, 0.7) 0%,
    rgba(80, 66, 67, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom-countdown {
  background: linear-gradient(
    180deg,
    rgba(237, 78, 80, 0.7) 0%,
    rgba(80, 66, 67, 0) 87.19%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.center-countdown .bottom-second {
  /* animation-name: center-second;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards; */
  animation: center-second 1s cubic-bezier(0.9, 0, 0.9, 0) infinite;
}
.top-countdown .bottom-second {
  animation-name: top-second;
  /* animation-duration: 1s; */
  /* animation-iteration-count: infinite; */
}
@keyframes top-second {
  0%,
  100% {
    transform: translate(0px, -2px);
  }
}

@keyframes center-second {
  0% {
    transform: translate(0, 0);
  }
  1000% {
    transform: translate(-7px, -23px);
    font-size: 16px;
    opacity: 1;
  }
}
