
    /* Extenal css to add  */
.animate-timer {
         position: relative;
          animation: animatetop 1s infinite;
        }
        @keyframes animatetop {
          from {
            top: 100px;
          }
          to {
            bottom: 0px;
          }
        }

        