
.trending button {
  background: none !important;
}
.mainSliderWrap {
  display: flex !important;
  position: relative;
  overflow: hidden;
}

.pararotate p {
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 72px;
  left: 0;
  width: 74px;
  height: 17px;

  text-align: center;
}
.right_content {
  margin-left: 20px;
}
.trend_left {
  width: 12%;
}
.trend_right .slick-prev {
  left: 0px !important;
}
.trending .slick-next {
  right: 0px !important;
}
.trend_right_ {
  width: 100%;
}
.new_esports_slider .slick-track {
  width: 100% !important;
}
.font_styls {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-left: 12px;
}

.trendingteass .tags {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 12px;
  border-radius: 16px;
  text-align: center;
  width: auto !important;
}

@media screen and (max-width: 1024px) {
  .trending .trend_left {
    width: 15%;
  }

  .trending .trend_right_ {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .trending .trend_left {
    width: 15%;
  }
  .trend_left h4 {
    display: none;
  }

  .trend-right {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .trendingteass .tags {
    font-size: 12px;
    line-height: 15px;
  }
}
