.new_esports_slider .newtrean .slick-prev {
  left: 0px !important;
  top: 18px !important;
}
.new_esports_slider .slick-next {
  right: 0px !important;
}
.new_esports_slider .slick-prev:before,
.new_esports_slider .slick-next:before {
  opacity: 1 !important;
}
.headingg {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 450px) {
  .content_wrapper {
    width: 190px !important;
  }
}
