.bottom_section p {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.stickymenu {
  position: sticky !important;
  top: 86px !important;

  z-index: 22222;
}
.lightmode {
  position: sticky !important;
  top: 86px !important;
  z-index: 22222;
}
@media screen and (max-width: 1300px) {
  .btn1 {
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .stickymenu {
    top: 72px !important;
  }
}
@media screen and (max-width: 992px) {
  .stickymenu {
    top: 80px !important;
  }
}
@media screen and (max-width: 576px) {
  .bottom_section p {
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .stickymenu {
    top: 80px !important;
  }
}
