.updates_area_here_wrapper {
  background-image: url("../../assets/esportevents2/bgElipe.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 96px;
  padding-bottom: 74px;
}
