.overlayy {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%) !important;
}
.buttinn br {
  display: none;
}
.blurry {
  backdrop-filter: blur(14px);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.22);
}
